$font-size-default: 14px;
$bg-menu-lateral: #000;
$bg-main-area: #121212;
$bg-menu-superior: #070707;
$bg-hover-effect-cards: #282828;
$font-color-default: #b3b3b3;
$font-color-hover: #fff;
$bg-play-cards: #101e15;
$bg-cards: #191919;
$bg-player: #181818;
